EMAIL_ADDRESS=tu_correo@gmail.com
EMAIL_PASSWORD=tu_app_password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
MAIL_SENDER=tu_correo@gmail.com
MAIL_RECIPIENT=destino@ejemplo.com
FRONTEND_URL=http://localhost:5173
DB_HOST=postgres
DB_PORT=5432
DB_NAME=grupobarros
DB_USER=postgres
DB_PASSWORD=postgres
